<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <!-- aca se cambia el href por el routerLink,solo el routerLink borrar lo demas que se agrega tal como esta abajo -->
        <a routerLink="">{{_servicio.info.titulo}}<sup>tm</sup></a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <!-- el routerLinkActive="active" hace que el boton donde estoy en este momento se vea seleccionado -->
          <li routerLinkActive="active" class="rk-menu__item"><a routerLink="home" class="rk-menu__link">Inicio</a>
          </li>
          <!-- el active en el class hace que el boton portafolio se vea como que esta seleccionado siempre -->
          <!-- <li class="active rk-menu__item"><a routerLink="" class="rk-menu__link">Portfolio</a>
          </li> -->
         <!-- about -->
         <!-- ver la ruta de path en el app-routing.module.ts -->
          <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link">Sobre Nosotros</a>
          </li>
        </ul>
        
        <!-- buscador -->
        <div class="rk-search">
          <input type="text" 
                (keyup.enter)=" buscarProducto( txtBuscar.value ) "
                placeholder="Buscar..." 
                id="urku-search" 
                class="rk-search-field"
                #txtBuscar>
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>
        
      </nav>
    </div>
  </header>
